---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <script src='https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js'></script>
    <title>{title}</title>
    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

      :root {
        --primary: #0b76c3;
        --white: #fafeff;
        --grey: #626a6c;
      }

      html {
        background-color: var(--white);
        font-family: 'Cormorant', serif;
      }

      body {
        margin: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      ul,
      p {
        margin: 0;
        padding: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      a {
        font-family: 'Work Sans', sans-serif;
      }

      h4 {
        font-size: 18px;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-size: 18px;
      }

      img {
        max-width: 100%;
      }

      @media only screen and (max-width: 600px) {
        h1 {
          font-size: 41px;
        }

        h2 {
          font-size: 27px;
        }

        h3 {
          font-size: 18px;
          font-weight: bold;
        }

        button {
          font-size: 1rem;
        }

        .desktop {
          display: none !important;
        }

        .padding {
          padding-inline: 1.5rem;
        }
      }

      /* Sia tablet sia desktop */
      @media only screen and (min-width: 600px) {
        h1 {
          font-size: 61px;
          line-height: 1em;
        }

        h2 {
          font-size: 41px;
        }

        h3 {
          font-size: 27px;
        }

        button {
          font-size: 1rem;
        }

        .mobile {
          display: none !important;
        }

        .padding {
          padding-inline: 3rem;
        }
      }

      @media only screen and (min-width: 1280px) {
        .inline {
          max-width: 1280px;
          margin-inline: auto;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
